DirectoryIndex index.php index.html
Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    RewriteRule ^index.php$ - [L]
    RewriteRule ^verkaufen$ sites/verkaufen.php [L]
    RewriteRule ^kaufen$ sites/kaufen.php [L]
    RewriteRule ^reparieren$ sites/reparieren.php [L]
    RewriteRule ^abos$ sites/abos.php [L]
    RewriteRule ^vergleich$ sites/vergleich.php [L]
    RewriteRule ^ueber-uns$ sites/ueber-uns.php [L]
    RewriteRule ^kontakt$ sites/kontakt.php [L]
    RewriteRule ^nutzerkonto$ sites/nutzerkonto.php [L]
    RewriteRule ^login$ sites/login.php [L]
    RewriteRule ^mitarbeiter$ sites/mitarbeiter.php [L]
    RewriteRule ^verwaltung$ sites/verwaltung.php [L]
    RewriteRule ^antrag$ sites/request_details.php [L]
    RewriteRule ^edit_user$ sites/edit_user.php [L]
    RewriteRule ^logout$ sites/logout.php [L]
</IfModule>